.carousel-inner {
    margin-top: 10px;
}

.comodidadestxt{
    margin-top: 10px;
    justify-items: center;
}

.exteriorestxt{
    text-align: center;
}

.interiorestxt{
    font-size: 30px;
}

.exteriores{
    font-size: x-large;
    text-align: center;
}