@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
    background-color: rgb(255, 247, 234);
    min-height: 100vh;
    width: 100%;
    display: grid;
    align-content: space-between;
    justify-items: stretch;
    grid-template-areas:
        "nav"
        "main"
        "galeria"
        "footer"
    ;
}

.main-grid {
    grid-area: main;
}

.galeria {
    grid-area: galeria;
}

.main-footer {
    grid-area: footer;
}

.main-head {
    text-align: center;
    font-size: x-large;
    font-weight: inherit;
    margin-bottom: 5px;

    @include mobile {
        margin-top: 50px;
        font-size: xx-large;

    @include desktop {
        margin-bottom: 20px;
        font-size: 3rem;
        }
    }

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: large;
    @include desktop{
        font-size: 35px;
        margin-top: 40px;
    }
}

p {
    text-align: center;
    margin: 20px;
    @include desktop{
        font-size: 30px;
        margin-top: 35px;
    }
}

