@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap");
/*480 768 1024*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins;
  background-color: rgb(255, 247, 234);
  min-height: 100vh;
  width: 100%;
  display: grid;
  align-content: space-between;
  justify-items: stretch;
  grid-template-areas: "nav" "main" "galeria" "footer";
}

.nav-color {
  background-color: rgb(238, 219, 190);
}

.navbar .navbar-nav .nav-item a:hover {
  color: aliceblue;
}

.letras-logo {
  justify-content: right;
  margin-right: 15px;
}

.logo-nav {
  height: 180px;
  margin-top: 2px;
  margin-left: 20px;
}

/*/ESTILOS SECTION INDEX/*/
.fotoPortada {
  height: 200px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.flex-fotoPortada {
  display: grid;
  justify-content: center;
}

.main-head {
  text-align: center;
  font-size: x-large;
  font-weight: inherit;
  margin-bottom: px;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-size: large;
}

p {
  text-align: center;
  margin: 20px;
}

/*/ESTILOS SECTION QUIENES SOMOS/*/
.main-qs {
  display: grid;
}

.qs-section {
  display: grid;
  justify-content: space-around;
}

.qs-img {
  display: grid;
  justify-content: space-around;
}

/*/ESTILOS SECTION COMODIDADES*/
.comodidadestxt {
  margin-top: 10px;
  justify-items: center;
}

.exteriorestxt {
  text-align: center;
}

.interiorestxt {
  font-size: 30px;
}

.exteriores {
  font-size: x-large;
  text-align: center;
}

.galeria {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  flex-direction: column;
}

.foto-cocina {
  height: 100px;
  border-radius: 30%;
}

.box1 .foto-cocina {
  transition-duration: 1s;
}

.foto-cocina:hover {
  transform: scale(3);
}

.box2 .foto-living {
  transition-duration: 1s;
}

.foto-living:hover {
  transform: scale(3);
}

.foto-living {
  height: 100px;
  border-radius: 30%;
}

.box3 .foto-pieza {
  transition-duration: 1s;
}

.foto-pieza:hover {
  transform: scale(3);
}

.foto-pieza {
  height: 100px;
  border-radius: 30%;
}

.box4 .quincho {
  transition-duration: 1s;
}

.quincho:hover {
  transform: scale(3);
}

.quincho {
  height: 100px;
  border-radius: 30%;
}

/*/ESTILOS SECTION UBICACION*/
.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 400px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 400px;
}

.gmap_iframe {
  height: 400px !important;
}

/*/ESTILOS FOOTER /*/
footer {
  display: grid;
  align-content: center;
  text-align: center;
  background-color: rgb(238, 219, 190);
  color: brown;
}

footer, img {
  color: brown;
  font-weight: 400;
}

.text-footer {
  font-size: xx-small;
}

.warper {
  grid-area: nav;
}

.main-grid {
  grid-area: main;
}

.main-footer {
  grid-area: footer;
}

.galeria {
  grid-area: galeria;
}

@media (min-width: 480px) {
  .fotoPortada {
    height: 230px;
  }
  .main-head {
    margin-top: 50px;
    font-size: xx-large;
  }
  .foto-cocina {
    height: 200px;
  }
  .foto-living {
    height: 200px;
  }
  .foto-pieza {
    height: 200px;
  }
  .quincho {
    height: 200px;
  }
  .porton {
    height: 250px;
  }
}
@media (min-width: 768px) {
  .fotoPortada {
    height: 350px;
  }
  .foto-cocina {
    height: 300px;
  }
  .foto-living {
    height: 300px;
  }
  .foto-pieza {
    height: 300px;
  }
  .quincho {
    height: 300px;
  }
  .porton {
    height: 300px;
  }
}
@media (min-width: 1024px) {
  .fotoPortada {
    height: 100%;
    margin-top: 15px;
  }
  .main-head {
    margin-bottom: 20px;
    font-size: 3rem;
  }
  h2 {
    font-size: 35px;
    margin-top: 40px;
  }
  p {
    font-size: 30px;
    margin-top: 35px;
  }
  .porton {
    height: 400px;
  }
}/*# sourceMappingURL=estilos.css.map */